.ma{
    position:absolute;
    top:10vh;
    right:5vw;
    display:flex;
    flex-direction:column;
    gap:2.5vh;
}

.ma .buttons{
    margin:2vh 0 0 0;
    display: flex;
    justify-content: end;
    gap:2vw;
}

.ma .buttons .button{
    padding:10px 20px;
    font-size: 1.5em;
    font-weight: 400;
    min-width: 6vw;
    background-color: aqua;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to right, #6B01BC, #A455F9);
}

.add{
    display: flex;
    flex-direction: row;
}

.tasksBox{
    width: 70vw;
    min-height: 12vh;
    background-color: #252141;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    gap:2.5vh;
    padding:3.5vh 2vw;
    transition: all .3s;
}

.tasksBox .task{
    height: 6vh;
    color: white;
    align-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    font-size: 1.4em;
    border-radius: .4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #6B01BC, #A455F9);
}

.long{
    width:92vw;
}