.navbar{
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: #252141;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

.navbar .leftSide{
    display: flex;
    flex-direction: row;
    gap:2vw;
    margin:0 2vw;
}

.menus{
    width: 3em;
    cursor: pointer;
}

h2{
    font-size: 3em;
    font-weight: 300;
    font-style: italic;    
}

.btns{
    display: flex;
    gap: 2em;
    margin-right: 9em;
}

.btns button{
    font-size: 1.2em;
    font-weight: 400;
    border: 0 solid black;
    border-radius: 7px;
    padding:.5em 1.8em;
    cursor: pointer;
    transition: all .2s;
}

.btns button.active{
    color:white;
}

.btns button:hover{
    border:1px solid white;
}

.btns button.active:hover{
    border:none;
}