.Sidebars{
    position: fixed;
    top:10vh;
    width: 24vw;
    height: calc(100vh - 10vh);
    background-color: #252141;
    display: flex;
    flex-direction: column;
    gap:1.4vh;
    padding:1vh 1vw;
    transition: all .3s;
}

.hide{
    transform: translateX(-100%);
}

.side{
    height: 6vh;
    display:block;
    align-content: center;
    padding:0 1vw;
    cursor:pointer;
    background-color: aliceblue;
    color: white;
    font-size: 1.4em;
    border:0 solid white;
    border-radius: .4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right,#a455f998, #6B01BC98);
    transition: background .2s;
}

.active{
    background: linear-gradient(to right,#A455F9, #6B01BC);
 
}